@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    background: #fffeef;
    color: #a59988;
    text-shadow:0px 0px 0px #bbb;
    font-family: 'Crimson Text', Verdana, Arial;
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: 1px;
    margin: 0;
    text-align: justify;
    cursor: url('../images/cursorbySeyfDesigner.png'), auto;
}

.julia-icon{
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    height: auto;
}

.titulo-principal{
    font: 46px 'Homemade Apple';
    text-align: center;
    color:  #7a726f;
    letter-spacing: 3px;
}


main {
    border-left: none;
    border-right: none;
    text-align: center;
    padding: 8px;
    flex: 1;
}

.sobre-mim{
   margin-left: 8%;
   margin-right: 8%;
}

.container-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.coluna {
  padding: 15px;
  text-align: center;
}

h2{
    font-family: 'Averia Libre';
    background-color: #f1e9df;
    transition: color 0.3s ease;
}

a{
    color: #86684e;
    cursor: url('../images/hand-pointCapCool.png'), pointer;
}

li{
    text-align: left;
}

footer {
    text-align: center;
    padding: 22px 8px;
    font-size: 12px;
}
